<div class="main">
  <div class="container">
    <body background="http://i.imgur.com/8x42P1v.png">
    <h1>Wilson Jeter</h1>
    <p>I am a student at tulane</p>
    <button type="button" style ="width:100px;height:80px">View my work</button>
    </body>
    <footer>
      <p> does this look like a footer? </p>
      <p>
      <A HREF="https://www.facebook.com/wilson.jeter.7">Click Here for Facebook
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_(square).png"style="width:40px;height:40px"> 
        </A></p>
      <A HREF="https://github.com/wjet"> Click Here for Github
        <img src="http://imgur.com/avXtUeV.png" style="width:40px;height:40px">
      </A>
    </footer>
  </div>
</div>
  
